@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

#column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}

#heading{
position:center;
}

#kitchen{
    padding:100px;
    background-clip: border-box;
    height: 600px;
    width: 100%;
    margin-top:40px;
    
}

#words{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    border: 1px solid #000000;
    padding: 20px;
      
}
#touch{
    width:10%;
    margin-left:45%;
    margin-right:45%;
    letter-spacing: 0.1em;
    height: 75px;
    word-spacing: 0.1em;
    background-color: #15451b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 70px;
    margin-top:50px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}